*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, red -50%, purple, blue);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.75);
}

.calculator-grid > button:hover {
    transition: 0.5s;
    background-color: rgba(100, 100, 100, 0.25);
    color: white;
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1/-1;   
    border: solid white;
    border-width: 10px 10px 2px 10px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 20px 20px 0px 0px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255,255,255,0.75);
    font-size: 2.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}

.inner {
    border: solid white;
    border-width: 2px;
}

.left-edge{
    border: solid white;
    border-width: 2px 2px 2px 10px; /* right*/
    
}

.right-edge{
    border: solid white;
    border-width: 2px 10px 2px 2px; /* right */
    
}

.bottom-edge{
    border: solid white;
    border-width: 2px 2px 10px 2px;
}

#b_equals {
    border: solid white;
    border-width: 2px 10px 10px 2px;
    border-radius: 0px 0px 20px 0px;
}

#b_decimal {
    border: solid white;
    border-width: 2px 2px 10px 10px;
    border-radius: 0px 0px 0px 20px;
}